
.scores-container, h1 {
    text-align: center;
    animation: glow 0.9s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 1 0 8px #fff, 0 0 20px #fff, 0 0 30px #ff26fe, 0 0 40px #ff26fe, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }


  .scores-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 19%;
    margin-top: 8%;
}


h1 {
  margin-bottom: 8%;
  animation: mymove 1.5s;
  animation-delay: -0.6s;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
}

@keyframes mymove {
  50% {transform: rotate(360deg);}
}


.bDot1 {
 
    width: 30px;
    height: 30px;
    border: 2px solid #ff26fe;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 5px 8px 45px 15px #ff26fe;  
    position: relative;
    animation-name: walk;
    animation-duration: 4s;
    animation-delay: -0.9s;
    animation-direction: alternate-reverse; 
    animation-iteration-count: infinite;
  }
  
  @keyframes walk {
    0%   {background-color:#fff; right:0px; bottom:0px;}
    25%  {background-color:#e60073; right:300px; bottom:0px;}
    50%  {background-color:#04d9ff; right:150px; bottom:300px;}
    75%  {background-color:#fff; right:300px; bottom:0px;}
    100% {background-color:#ff26fe; right:0px; bottom:150px;} 
  } 

  .bDot {
    width: 30px;
    height: 30px;
    border: 2px solid #ff26fe;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 5px 8px 45px 15px #ff26fe;  
    position: relative;
    animation-name: walk;
    animation-duration: 4s;
    animation-delay: -1s;
    animation-direction: alternate-reverse; 
    animation-iteration-count: infinite;
  }
  
  @keyframes walk {
    0%   {background-color:#fff; right:0px; bottom:0px;}
    25%  {background-color:#e60073; right:300px; bottom:0px;}
    50%  {background-color:#04d9ff; right:300px; bottom:150px;}
    75%  {background-color:#fff; right:300px; bottom:0px;}
    100% {background-color:#ff26fe; right:0px; bottom:150px;} 
  } 

  .pDot1 {
    width: 30px;
    height: 30px;
    border: 2px solid #ff26fe;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 5px 8px 45px 15px #ff26fe;  
    position: relative;
    animation-name: run;
    animation-duration: 4s;
    animation-delay: -1s;
    animation-direction: alternate-reverse; 
    animation-iteration-count: infinite;
  }
  
  @keyframes run {
    0%   {background-color:#fff; left:0px; top:0px;}
    25%  {background-color:#e60073; left:300px; top:0px;}
    50%  {background-color:#04d9ff; left:200px; top:400px;}
    75%  {background-color:#ff26fe; left:300px; top:0px;}
    100% {background-color:#fff; left:0px; top:0px;} 
  } 


.pDot {
  width: 30px;
  height: 30px;
  border: 2px solid #ff26fe;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 5px 8px 45px 15px #ff26fe;  
  position: relative;
  animation-name: run;
  animation-duration: 4s;
  animation-delay: -0.9s;
  animation-direction: alternate-reverse; 
  animation-iteration-count: infinite;
}

@keyframes run {
  0%   {background-color:#fff; left:0px; top:0px;}
  25%  {background-color:#e60073; left:300px; top:0px;}
  50%  {background-color:#04d9ff; left:300px; top:200px;}
  75%  {background-color:#ff26fe; left:300px; top:0px;}
  100% {background-color:#fff; left:0px; top:0px;} 
}  

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 2px solid red;
    --bs-table-color: white;
    /* padding-block: 0.5rem 0.5rem; */
    
}

table thead {
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff26fe, 0 0 40px #ff26fe, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

table {
    margin-bottom: 15%;
    width: 100%;
    margin-top: 5%;
    font-size: 18px;
    --bs-table-bg: transparent;  
    box-shadow: 5px 5px 45px 15px #04d9ff;
    border-radius: 14px;
}

td {
    font-size: 24px;
    text-shadow: 2px 2px 4px #04d9ff;
}
